TZ=Europe/Berlin
MONITOR_DOMAIN=monitor.example.org
ACME_EMAIL=you@example.org
NETDATA_HOSTNAME=monitoring
NETDATA_USER=admin
NETDATA_PASSWORD_HASH=$2a$14$xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
